{% if php_default_version_debian is not defined or php_default_version_debian is version('8.5', '<') %}
zend_extension={{ php_opcache_zend_extension }}
{% endif %}
{% for key, var in opcache_vars.items() %}
opcache.{{ key }}={{ var }}
{% endfor %}
{% if php_opcache_blacklist_filename != '' %}
opcache.blacklist_filename={{ php_opcache_blacklist_filename }}
{% endif %}
